* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Kuunari;
    src: url(../astess/font/Mika\ Melvas\ -\ Kuunari\ Bold.otf);
}

@font-face {
    font-family: Caros;
    src: url(../astess/font/Caros.woff);
}

.container {
    max-width: 370px;
    margin: 0px auto;
}

body {
    background-image: url(../astess/img/background.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 11px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 43px;
    width: 90%;
    margin: 21px auto 11px auto;
    border-radius: 100px;
}
.first {
    padding: 26px 0px 27px 0px;
    text-align: center;
    background-image: url(../astess/img/first_img.avif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.first p {
    font-family: Kuunari;
    font-size: clamp(0px, 9.5vw, 32px);
    text-transform: uppercase;
}

.first p span:first-child {
    color: #5BFFCC;
}

.first p span:last-child {
    color: #ffffff;
}

.hero {
    position: relative;
}

.hero_img {
    z-index: 2;
    position: absolute;
}

.hero_card {
    position: absolute;
    right: 20px;
    top: 30px;
    background: #fff;
    padding: 15px 17px;
    border-radius: 18px;
    border: 1px solid #B7B7B7;
}

.hero_card p {
    font-family: Caros;
    font-size: clamp(0px, 2.7vw, 12px);
    color: #222;
    text-align: left;
}

.hero_card-list {
    margin-bottom: 9px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    gap: 6px;
}

.hero_card-list:last-child {
    margin-bottom: 0px;
}

.hero_card-list img {
    width: 25px;
    height: 25px;
}

.hero_card span {
    font-size: clamp(0px, 4.6vw, 16px);
    font-weight: 700;
}

.arrow img {
    position: absolute;
    right: 20px;
    top: 190px;
}

.timer {
    position: absolute;
    top: 210px;
    left: 224px;
    font-family: Kuunari;
    background: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: clamp(0px, 5vw, 24px);
    border: 2px solid #21BF8E;
}

.second {
    width: 100%;
    padding: 10px 12px 23px 12px;
    position: relative;
    z-index: 10;
    margin-top: 290px;
    border-radius: 30px;
    background: linear-gradient(#E0F2FF, #86CEFF);
}

.second_text p {
    font-family: Caros;
    padding: 10px 20px;
    font-weight: 600;
    font-size: clamp(0px, 5vw, 18px);
    text-align: center;
}

.second_button a {
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: Caros;
    height: 78px !important;
    color: #fff;
    font-weight: bold;
    font-size: clamp(0px, 4.6vw, 18px);
    background-color: #0773BD;
}

.second_button a img {
    width: 26.7px;
    height: 26.7px;
}

.second_container {
    width: 100%;
}

@media (max-width: 320px) {
    .first p {
        font-size: clamp(0px, 9vw, 24px);
    }
    .arrow {
        display: none;
    }
    .hero_card {
    position: absolute;
    right: 20px;
    top: 30px;
    background: #fff;
    padding: 15px 10px;
    border-radius: 18px;
    border: 1px solid #B7B7B7;
}
}